.file-upload {
  display: block;
  margin: 10px auto;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 20px;
}

.file-upload > .container {
  height: 100%;
  border-style: dashed;
  border-width: 2px;
  border-color: grey;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.file-upload > .container:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.file-upload > .container input {
  visibility: hidden;
  position: absolute;
}

.file-upload > .container p {
  width: fit-content;
  margin: 0 auto;
  padding: 60px 0px;
}
