form {
  margin: 0 auto;
  width: fit-content;
}

form > .row {
  display: flex;
  gap: 30px;
}

form input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 320px;
}

form .description {
  font-size: 0.8em;
  opacity: 0.7;
}

@media screen and (max-width: 600px) {
  form {
    padding: 20px;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }

  form > .row {
    gap: 0;
    flex-direction: column;
  }

  form input {
    margin-bottom: 10px;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
}

@media screen and (min-width: 601px) and (max-width: 950px) {
  form input {
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
}
