:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 50px 100px;
}

button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

span {
  display: block;
}

.uplot-chart {
  margin-top: 50px;
}

.error {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0px;
  }
}
